<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home Library Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
<div class="container">
    <h1>Home Library Manager</h1>
    <hr>
    <h2>Save Book</h2>

    <form action="#" th:action="@{/saveBook}" th:object="${book}" method="POST">
        <input type="text" th:field="*{name}" placeholder="Book Name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{authors}" placeholder="Authors" class="form-control mb-4 col-4">

        <input type="text" th:field="*{isbn}" placeholder="ISBN" class="form-control mb-4 col-4">

        <input type="text" th:field="*{format}" placeholder="Format (digital/physical)" class="form-control mb-4 col-4">

        <input type="text" th:field="*{genres}" placeholder="Genres" class="form-control mb-4 col-4">

        <input type="text" th:field="*{publisher}" placeholder="Publisher" class="form-control mb-4 col-4">

        <input type="text" th:field="*{quality}" placeholder="Quality" class="form-control mb-4 col-4">

        <input type="text" th:field="*{pages}" placeholder="Pages" class="form-control mb-4 col-4">

        <input type="text" th:field="*{price}" placeholder="Price" class="form-control mb-4 col-4">

        <div class="form-control mb-4 col-2">
        <label for="readId">Read</label>
        <input type="checkbox" name="readId" id="readId" th:field="*{read}" class="ml-auto ">
        </div>

        <div class="form-control mb-4 col-2">
            <label for="hardcoverId">Hardcover</label>
            <input type="checkbox" name="hardcover" id="hardcoverId" th:field="*{hardcover}" class="ml-auto ">
        </div>

        <div class="form-control mb-4 col-2">
            <label for="boughtId">Bought</label>
            <input type="checkbox" name="bought" id="boughtId" th:field="*{read}" class="ml-auto ">
        </div>

        <button type="submit" class="btn btn-info col-2">Save Book</button>
    </form>
    <hr>

    <a th:href="@{/}">Back to Book List</a>
</div>
</body>

</html>